body
{
background-color: #180198;
}
.div1
{
position: absolute;
top: 35%;
left: 15%;
width: 70%;
height: 25%;
background-color: #000000;
transform: rotate(7deg);
box-shadow: 0px 0px 50px red;
}

.div2
{
position: absolute;
  left: 17%;
top: 36.25%;
width: 65%;
height: 22%;
background: none;
border: 2px solid white;
  opacity: .6;
  z-index: 5;
}

.hexagon1
{
  position: absolute;
  left: 15%;
  top: 60%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon2
{
  position: absolute;
  left: 5%;
  top: 10%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon3
{
  position: absolute;
  left: 65%;
  top: 75%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon4
{
  position: absolute;
  left: 35%;
  top: 80%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon5
{
  position: absolute;
  left: 50%;
  top: 5%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon6
{
  position: absolute;
  left: 85%;
  top: 40%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.header1
{
position: absolute;
font-size: 4vw;
color: white;
opacity: .89;
left: 39%;
top: 31%;
}

.header2
{
  position: absolute;
  color: white;
  opacity: .85;
  font-size: 2.5vw;
  left: 40%;
  top: 45%;
}

underline
{
  position: absolute;
  top: 46%;
  left: 29.5%;
  background: white;
  width: 40%;
  height: 1%;
  border-radius: 40%

}

.navbar
{
  border-bottom: 2px solid white;
  position: absolute;
  width: 100%;
  left: 0;
  height: 10%;
  opacity: .85;
  top: 0;
}

.navtitle
{
position: absolute;
background: none;
border: none;
height: 100%;
width: 15%;
font-size: 1.78vw;
color: white;
left: 1%;
font-family: 'RocknRoll One', sans-serif;
}

.navbutton
{
  position: relative;
  left: 55%;
  width: 15%;
  height: 100%;
  background: none;
  border: none;
  font-size: 1.8vw;
  color: white;
  font-family: 'RocknRoll One', sans-serif;
  transition: .2s;
}
.navbutton:hover
{
  background-color: #4f4fff;
  transition: .2s;
}
