body
{
background-color: #2700ff;
}
.div1
{
position: absolute;
top: 35%;
left: 15%;
width: 70%;
height: 25%;
background-color: #2a48da;
transform: rotate(7deg);
}

.div2
{
position: absolute;
  left: 17%;
top: 36.25%;
width: 65%;
height: 22%;
background: none;
border: 2px solid white;
  opacity: .6;
  z-index: 5;
}

.hexagon1
{
  position: absolute;
  left: 15%;
  top: 60%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon2
{
  position: absolute;
  left: 5%;
  top: 10%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon3
{
  position: absolute;
  left: 65%;
  top: 75%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon4
{
  position: absolute;
  left: 35%;
  top: 80%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon5
{
  position: absolute;
  left: 50%;
  top: 5%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

.hexagon6
{
  position: absolute;
  left: 85%;
  top: 40%;
  background: white;
  z-index: 10;
  width: 5%;
  height: 9%;
  opacity: .12;
  transform: rotate(4deg);
 -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); 
}

