body
{
background-color: #2700ff;
}
.div1
{
position: absolute;
top: 35%;
left: 15%;
width: 70%;
height: 25%;
background-color: #2a48da;
transform: rotate(15deg);
}

.div2
{
position: absolute;
  left: 17%;
top: 37.5%;
width: 65%;
height: 22%;
background: none;
border: 2px solid white;
  opacity: .6;
  z-index: 5;
}
